B{background-color:dfdfdf;color:blue}
A:link{color:blue; text-decoration:none}
A:visited{color:blue; text-decoration:none}
A:active{color:blue; text-decoration:none}
A:hover{color:gold; text-decoration:none}
